In [32]:
from pathlib import Path
from tqdm.auto import tqdm
import os
import gzip
import pandas as pd

In [7]:
data_dir = Path(os.path.realpath("__file__")).parent.parent / "data"

In [25]:
raw_data_dir = data_dir / "raw"
zipped_storm_files = list((raw_data_dir / "StormEventsGZIP").glob("*.csv.gz"))
len(zipped_storm_files)

216

In [28]:
unzipped_path = data_dir / "interim/StormEventsCSV"
if not unzipped_path.exists():
    unzipped_path.mkdir()

In [34]:
test_file_path = zipped_storm_files[0]
test_csv_file_path = unzipped_path / str(test_file_path).rsplit("\\", 1)[-1].replace(".gz", "")
with gzip.open(test_file_path, 'rb') as f_in:
    csv_bytes = f_in.read()
    with open(test_csv_file_path, 'wb+') as f_out:
        f_out.write(csv_bytes)
assert test_csv_file_path.exists()

In [35]:
csv_file_df = pd.read_csv(test_csv_file_path)
csv_file_df.head()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,195004,28,1445,195004,28,1445,NaN,10096222,OKLAHOMA,40,...,0,NaN,NaN,35.12,-99.20,35.17,-99.20,NaN,NaN,PUB
1,195004,29,1530,195004,29,1530,NaN,10120412,TEXAS,48,...,0,NaN,NaN,31.90,-98.60,31.73,-98.60,NaN,NaN,PUB
2,195007,5,1800,195007,5,1800,NaN,10104927,PENNSYLVANIA,42,...,0,NaN,NaN,40.58,-75.70,40.65,-75.47,NaN,NaN,PUB
3,195007,5,1830,195007,5,1830,NaN,10104928,PENNSYLVANIA,42,...,0,NaN,NaN,40.60,-76.75,NaN,NaN,NaN,NaN,PUB
4,195007,24,1440,195007,24,1440,NaN,10104929,PENNSYLVANIA,42,...,0,NaN,NaN,41.63,-79.68,NaN,NaN,NaN,NaN,PUB

In [36]:
for gzipped_file_path in tqdm(zipped_storm_files):
    csv_file_path = unzipped_path / str(gzipped_file_path).rsplit("\\", 1)[-1].replace(".gz", "")
    if not csv_file_path.exists():
        with gzip.open(gzipped_file_path, 'rb') as f_in:
            csv_bytes = f_in.read()
            with open(csv_file_path, 'wb+') as f_out:
                f_out.write(csv_bytes)

  0%|          | 0/216 [00:00<?, ?it/s]